---
import { getLocaleByUrl, translations, useTranslations } from "@/i18n"
import Layout from "@/layouts/Curriculum.astro"
import Education from "@/sections/curriculum/Education.astro"
import Experience from "@/sections/curriculum/Experience.astro"
import Hero from "@/sections/curriculum/Hero.astro"
import Languages from "@/sections/curriculum/Languages.astro"
import Skills from "@/sections/curriculum/Skills.astro"

export function getStaticPaths() {
	return Object.keys(translations).map((lang) => ({ params: { locale: lang } }))
}

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)
---

<Layout lang={locale} title={t("cv.title", "Daniel Muñoz Neyra")} description={t("cv.description")}>
	<main class="flex flex-col gap-y-8 p-6 md:p-12 print:gap-y-6">
		<Hero />
		<Experience />
		<Skills />
		<Education />
		<Languages />
	</main>
</Layout>
