---
import { getLocaleByUrl, translations, useTranslations } from "@/i18n"
import Layout from "@/layouts/Portfolio.astro"
import AboutMe from "@/sections/portfolio/AboutMe.astro"
import Experience from "@/sections/portfolio/Experience.astro"
import Hero from "@/sections/portfolio/Hero.astro"
import Projects from "@/sections/portfolio/Projects.astro"

export function getStaticPaths() {
	return Object.keys(translations).map((lang) => ({ params: { locale: lang } }))
}

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)
---

<Layout lang={locale} title={t("title", t("subtitle"))} description={t("description")}>
	<main class="space-y-12 md:space-y-20">
		<Hero />
		<Experience />
		<Projects />
		<AboutMe />
	</main>
</Layout>
