---
import SectionContainer from "@/components/portfolio/SectionContainer.astro"
import UnderlineLink from "@/components/portfolio/UnderlineLink.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)
---

<SectionContainer as="footer" class="mt-auto flex items-center justify-center">
	<span class="text-sm text-gray-800 dark:text-gray-300"
		>{t("footer.author")}
		<UnderlineLink href="https://github.com/Rakioth"><strong>Raks</strong></UnderlineLink>
		<span aria-hidden="true">|</span>
		<UnderlineLink
			href="https://github.com/Rakioth/raks.dev"
			class="text-primary-700 dark:text-primary-400"
		>
			<strong>{t("footer.source")}</strong>
		</UnderlineLink>
	</span>
</SectionContainer>
