---
import ButtonLink from "@/components/portfolio/ButtonLink.astro"
import SectionContainer from "@/components/portfolio/SectionContainer.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const buttonLinks = [
	{
		emoji: "📩",
		label: t("hero.contact"),
		href: "mailto:dmunozneyra@gmail.com",
	},
	{
		emoji: "👔",
		label: "LinkedIn",
		href: "https://linkedin.com/in/dmunozneyra",
	},
	{
		emoji: "📚",
		label: t("hero.cv"),
		href: `/${locale}/cv`,
	},
]
---

<SectionContainer class="flex flex-col gap-y-5 text-gray-800 dark:text-white md:gap-y-6">
	<h1
		class="text-4xl font-medium md:text-5xl [&>span]:text-primary-700 [&>span]:dark:text-primary-400"
	>
		{t("hero.title", "Daniel")}
		<br />
		{t("hero.statement")}
		<span data-words={t("hero.skills")} id="typewriter" class="font-newsreader italic"></span><span
			class="motion-safe:animate-[cursor_1s_infinite]"
			>⎸
		</span>
	</h1>

	<p class="text-balance">{t("description")}</p>

	<ul class="flex gap-x-4">
		{
			buttonLinks.map((buttonLink) => (
				<li>
					<ButtonLink href={buttonLink.href} class="aspect-square sm:aspect-auto">
						<span class="font-emoji">{buttonLink.emoji}</span>
						<span class="hidden sm:inline-flex">{buttonLink.label}</span>
					</ButtonLink>
				</li>
			))
		}
	</ul>
</SectionContainer>

<style>
	@keyframes cursor {
		0%,
		100% {
			@apply opacity-0;
		}
		50% {
			@apply opacity-100;
		}
	}
</style>

<script>
	import { $ } from "@/lib/dom-selector"

	document.addEventListener("astro:page-load", () => {
		const typewriter = $("#typewriter")
		const words = typewriter.dataset.words?.split(";") || []

		let isTyping = true

		function sleep(ms: number = 100) {
			return new Promise((resolve) => setTimeout(resolve, ms))
		}

		async function typingLoop(index: number = 0) {
			if (!isTyping) return

			const word = words[index]

			for (let i = 0; i < word.length; i++) {
				typewriter.innerText = word.substring(0, i + 1)
				await sleep()
			}

			await sleep(1500)

			for (let i = word.length; i > 0; i--) {
				typewriter.innerText = word.substring(0, i - 1)
				await sleep()
			}

			await sleep(500)
			typingLoop((index + 1) % words.length)
		}

		document.addEventListener("astro:before-swap", () => (isTyping = false))
		typingLoop()
	})
</script>
