### Build Output ###
dist/

### Generated Types ###
.astro/

### Dependencies ###
node_modules/

### Logs ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Environment Variables ###
.env
.env.production

### Mac OS ###
.DS_Store

### Packages ###
pnpm-lock.yaml
package-lock.json
yarn.lock

### IDE Folders ###
.vs/
.idea

### Generated Vercel Output ###
.vercel/
