---
interface Props {
	href: string
	isExternal?: boolean
	class?: string
}

const { href, isExternal = true, class: className } = Astro.props
---

<a
	href={href}
	rel={isExternal ? "noopener noreferrer" : undefined}
	target={isExternal ? "_blank" : "_self"}
	class:list={[
		className,
		"relative inline-flex max-w-fit items-center justify-center gap-x-2 overflow-clip rounded-xl border border-gray-300 px-3 py-2 text-gray-800 ease-in before:absolute before:inset-0 before:-z-10 before:bg-gray-100 after:absolute after:inset-0 after:-z-10 after:origin-right after:ease-in focus-visible:outline-none focus-visible:ring focus-visible:ring-primary-700/80 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-800 any-hover:border-gray-500 any-hover:text-gray-100 any-hover:ease-out after:any-hover:origin-left after:any-hover:scale-x-100 after:any-hover:bg-gray-800 after:any-hover:ease-out motion-safe:transition-[border-color,color,transform] motion-safe:after:scale-x-0 motion-safe:after:transition-transform motion-safe:after:duration-300 motion-safe:any-hover:delay-100 motion-safe:after:any-hover:delay-100 dark:border-gray-600 dark:text-white dark:before:bg-[#322663] dark:focus-visible:ring-primary-400/80 dark:focus-visible:ring-offset-white dark:any-hover:border-gray-700 dark:any-hover:text-[#322663] dark:after:any-hover:bg-white",
	]}
>
	<slot />
</a>
