---
interface Props {
	title?: string
	class?: string
}

const { title, class: className } = Astro.props
---

<section class:list={[className, "container mx-auto w-full md:max-w-2xl lg:max-w-3xl"]}>
	{
		title && (
			<h2 class="mb-4 flex gap-x-1 font-newsreader text-base font-medium italic text-black/80 dark:text-white md:mb-2 md:gap-x-2 md:text-lg">
				<slot name="icon" />
				{title}
			</h2>
		)
	}
	<slot />
</section>
