---
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const darkModeLabel = t("toggle.theme.dark")
const lightModeLabel = t("toggle.theme.light")
---

<button
	transition:persist
	id="theme-toggle"
	type="button"
	aria-label={t("toggle.theme.default")}
	title={t("toggle.theme.default")}
	data-emoji="🎨"
	class="rounded-sm font-emoji after:content-[attr(data-emoji)] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-700 dark:focus-visible:ring-primary-400"
>
</button>

<script is:inline define:vars={{ darkModeLabel, lightModeLabel }} data-astro-rerun>
	const themeToggle = document.getElementById("theme-toggle")
	const colorSchemePreference = window.matchMedia("(prefers-color-scheme: dark)")
	const reducedMotionPreference = window.matchMedia("(prefers-reduced-motion: reduce)")

	const toLight = ["🌒", "🌓", "🌔", "🌕"]
	const toDark = ["🌖", "🌗", "🌘", "🌑"]

	let isLoading = true

	function emojiAnimation(emojiChain) {
		for (let i = 0; i < emojiChain.length; i++)
			setTimeout(() => {
				themeToggle.setAttribute("data-emoji", emojiChain[i])
			}, 250 * i)
	}

	function updateThemeState(theme) {
		const label = theme ? lightModeLabel : darkModeLabel
		const emojiChain = theme ? toLight : toDark

		if (isLoading || reducedMotionPreference.matches)
			themeToggle.setAttribute("data-emoji", emojiChain[emojiChain.length - 1])
		else emojiAnimation(emojiChain)

		themeToggle.setAttribute("aria-label", label)
		themeToggle.setAttribute("title", label)
		window.updateSeoState(theme ? "dark" : "light")
	}

	function handleToggleClick() {
		const element = document.documentElement
		element.classList.toggle("dark")

		const isDark = element.classList.contains("dark")
		const theme = isDark ? "dark" : "light"
		localStorage.setItem("theme", theme)

		const themeToggledEvent = new CustomEvent("themetoggled", { detail: { theme } })
		updateThemeState(isDark)
		document.dispatchEvent(themeToggledEvent)
		themeToggle.removeAttribute("disabled")
	}

	function handleToggleTransition() {
		themeToggle.setAttribute("disabled", true)

		if (reducedMotionPreference.matches) {
			handleToggleClick()
			return
		}

		const transition = document.startViewTransition(() => handleToggleClick())

		document.documentElement.classList.add("theme-transition")

		transition.ready.then(() =>
			document.documentElement.animate(
				{
					clipPath: ["inset(0 0 0 100%)", "inset(0 0 0 0)"],
				},
				{
					duration: 1000,
					easing: "ease-in-out",
					pseudoElement: "::view-transition-new(root)",
				}
			)
		)

		transition.finished.then(() => document.documentElement.classList.remove("theme-transition"))
	}

	function handleColorSchemePreferenceChange(event) {
		const isDark = document.documentElement.classList.contains("dark")
		const toggle = (event.matches && !isDark) || (!event.matches && isDark)
		if (toggle) handleToggleTransition()
	}

	document.addEventListener("astro:before-swap", () => {
		themeToggle.removeEventListener("click", handleToggleTransition)
		colorSchemePreference.removeEventListener("change", handleColorSchemePreferenceChange)
	})

	updateThemeState(window.getThemePreference() === "dark")
	themeToggle.addEventListener("click", handleToggleTransition)
	colorSchemePreference.addEventListener("change", handleColorSchemePreferenceChange)
	isLoading = false
</script>
