---
import ButtonLink from "@/components/ButtonLink.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"
import Layout from "@/layouts/Layout.astro"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)
---

<Layout lang={locale} title={t("title", "Error 404")} description={t("description")}>
	<main class="mt-auto flex flex-col items-center justify-center gap-y-4">
		<h3 class="text-4xl font-bold uppercase text-gray-800 dark:text-white sm:text-5xl">Error</h3>
		<h1 class="text-8xl text-primary-700 dark:text-primary-400 sm:text-9xl">404</h1>
		<ButtonLink href=`/${locale}` isExternal={false}>
			<span class="font-emoji">👈</span>
			{t("go-back")}
		</ButtonLink>
	</main>
</Layout>
