---
interface Props {
	href: string
	isExternal?: boolean
	altStyle?: boolean
}

const { href, isExternal = true, altStyle = false } = Astro.props
---

<a
	href={href}
	rel={isExternal ? "noopener noreferrer" : undefined}
	target={isExternal ? "_blank" : "_self"}
	class:list={[
		"text-md text- inline-flex max-w-fit items-center justify-center gap-x-2 border border-gray-300 bg-gray-100 text-gray-800 focus-visible:outline-none focus-visible:ring focus-visible:ring-primary-700/80 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-800 any-hover:border-gray-500 any-hover:bg-gray-800 any-hover:text-gray-100 motion-safe:transition-[border-color,color] dark:border-gray-600 dark:bg-[#322663] dark:text-white dark:focus-visible:ring-primary-400/80 dark:focus-visible:ring-offset-white dark:any-hover:border-gray-700 dark:any-hover:bg-white dark:any-hover:text-[#322663]",
		{
			"rounded-xl px-3 py-2": altStyle,
		},
		{
			"rounded-full px-4 py-1": !altStyle,
		},
	]}
>
	<slot />
</a>
