---
interface Props {
	href: string
	isExternal?: boolean
	class?: string
}

const { href, isExternal = true, class: className } = Astro.props
---

<a
	href={href}
	rel={isExternal ? "noopener noreferrer" : undefined}
	target={isExternal ? "_blank" : "_self"}
	class:list={[
		className,
		"relative -mx-4 rounded-lg p-4 before:absolute before:inset-0 before:-z-10 before:scale-95 before:rounded-[inherit] before:opacity-0 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-700 any-hover:before:scale-100 any-hover:before:bg-white/50 any-hover:before:opacity-100 any-hover:before:shadow-lg any-hover:before:ring-1 any-hover:before:ring-black/10 any-hover:before:backdrop-blur motion-safe:before:transition focus-visible:dark:ring-primary-400 any-hover:before:dark:bg-black/50 any-hover:before:dark:ring-white/10",
	]}
>
	<slot />
</a>
