---
import { MOBILE_MENU_BUTTON_ID, MOBILE_MENU_CONTENT_ID } from "@/consts/mobile-menu"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const openMenuLabel = t("toggle.menu.open")
const closeMenuLabel = t("toggle.menu.close")
---

<button
	id={MOBILE_MENU_BUTTON_ID}
	type="button"
	aria-expanded="false"
	aria-controls={MOBILE_MENU_CONTENT_ID}
	aria-label={openMenuLabel}
	class="group rounded-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-700 dark:focus-visible:ring-primary-400"
>
	<svg
		aria-hidden="true"
		width="44"
		height="44"
		viewBox="0 0 48 48"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		class="transform-none opacity-100 duration-[250] group-[.toggled]:rotate-45 motion-safe:transition-[transform,opacity]"
	>
		<circle
			cx="12"
			cy="12"
			r="3"
			class="transform-none opacity-100 duration-[250] group-[.toggled]:-translate-x-6 group-[.toggled]:-translate-y-6 group-[.toggled]:opacity-0 motion-safe:transition-[transform,opacity]"
		>
		</circle>
		<circle
			cx="24"
			cy="12"
			r="3"
			class="transform-none opacity-100 duration-[250] group-[.toggled]:-translate-y-6 group-[.toggled]:translate-x-0 group-[.toggled]:opacity-0 motion-safe:transition-[transform,opacity]"
		>
		</circle>
		<circle
			cx="36"
			cy="12"
			r="3"
			class="transform-none opacity-100 duration-[250] group-[.toggled]:-translate-y-6 group-[.toggled]:translate-x-6 group-[.toggled]:opacity-0 motion-safe:transition-[transform,opacity]"
		>
		</circle>
		<circle
			cx="36"
			cy="24"
			r="3"
			class="transform-none opacity-100 duration-[250] group-[.toggled]:translate-x-6 group-[.toggled]:translate-y-0 group-[.toggled]:opacity-0 motion-safe:transition-[transform,opacity]"
		>
		</circle>
		<circle
			cx="36"
			cy="36"
			r="3"
			class="transform-none opacity-100 duration-[250] group-[.toggled]:translate-x-6 group-[.toggled]:translate-y-6 group-[.toggled]:opacity-0 motion-safe:transition-[transform,opacity]"
		>
		</circle>
		<circle
			cx="24"
			cy="36"
			r="3"
			class="transform-none opacity-100 duration-[250] group-[.toggled]:translate-x-0 group-[.toggled]:translate-y-6 group-[.toggled]:opacity-0 motion-safe:transition-[transform,opacity]"
		>
		</circle>
		<circle
			cx="12"
			cy="36"
			r="3"
			class="transform-none opacity-100 duration-[250] group-[.toggled]:-translate-x-6 group-[.toggled]:translate-y-6 group-[.toggled]:opacity-0 motion-safe:transition-[transform,opacity]"
		>
		</circle>
		<circle
			cx="12"
			cy="24"
			r="3"
			class="transform-none opacity-100 duration-[250] group-[.toggled]:-translate-x-6 group-[.toggled]:translate-y-0 group-[.toggled]:opacity-0 motion-safe:transition-[transform,opacity]"
		>
		</circle>
		<rect
			x="21"
			y="21"
			rx="3"
			ry="3"
			class="size-1.5 transform-none opacity-75 duration-[250] group-[.toggled]:w-[2.49625rem] group-[.toggled]:-translate-x-[1.060625rem] group-[.toggled]:translate-y-0 group-[.toggled]:opacity-100 motion-safe:transition-[transform,opacity,width]"
		>
		</rect>
		<rect
			x="21"
			y="21"
			rx="3"
			ry="3"
			class="size-1.5 transform-none opacity-75 duration-[250] group-[.toggled]:h-[2.49625rem] group-[.toggled]:-translate-y-[1.060625rem] group-[.toggled]:translate-x-0 group-[.toggled]:opacity-100 motion-safe:transition-[transform,opacity,height]"
		>
		</rect>
	</svg>
</button>

<style>
	@media (any-hover: hover) {
		.toggled:hover svg,
		.toggled:hover circle:nth-of-type(odd) {
			@apply transform-none opacity-100;
		}

		button:hover circle:nth-of-type(even) {
			@apply transform-none opacity-0;
		}

		button:hover rect:first-of-type {
			@apply w-[1.875rem] -translate-x-3 translate-y-0 opacity-100;
		}

		button:hover rect:last-of-type {
			@apply h-[1.875rem] -translate-y-3 translate-x-0 opacity-100;
		}
	}
</style>

<script
	is:inline
	define:vars={{ openMenuLabel, closeMenuLabel, MOBILE_MENU_BUTTON_ID }}
	data-astro-rerun
>
	const menuToggledEvent = new CustomEvent("menutoggled")
	const menuToggle = document.getElementById(MOBILE_MENU_BUTTON_ID)

	function handleToggleClick() {
		const isOpen = menuToggle.classList.contains("toggled")
		const ariaLabel = isOpen ? openMenuLabel : closeMenuLabel

		menuToggle.classList.toggle("toggled", !isOpen)
		menuToggle.setAttribute("aria-expanded", String(!isOpen))
		menuToggle.setAttribute("aria-label", ariaLabel)

		document.dispatchEvent(menuToggledEvent)
	}

	menuToggle.addEventListener("click", handleToggleClick)
</script>
