---
interface Props {
  title?: string
  delay: string
  class?: string
}

const { title, delay, class: className } = Astro.props
---

<section
  style=`animation-delay: ${delay}`
  class:list={[
    className,
    "box-blur min-h-64 rounded-2xl p-4 shadow hover:shadow-lg motion-safe:animate-[slide-in_0.3s_ease-in-out_backwards,fade-in_0.3s_ease-in-out_backwards] motion-safe:transition-shadow",
  ]}
>
  {
    title && (
      <h2 class="box-blur mb-4 line-clamp-2 inline-flex h-8 w-fit items-center gap-x-1.5 rounded-2xl px-4 text-sm leading-5 text-primary [&>svg]:size-4">
        <slot name="icon" />
        {title}
      </h2>
    )
  }
  <slot />
</section>

<style>
  @keyframes slide-in {
    0%,
    50% {
      transform: translateY(0.625rem);
    }

    80% {
      transform: translateY(-0.3125rem);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>
