---
import ButtonLink from "@/components/ButtonLink.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import { getLocale, useTranslations } from "@/i18n"
import MessageIcon from "@/icons/Message.astro"
import SendIcon from "@/icons/Send.astro"

const locale = getLocale(Astro.currentLocale)
const t = useTranslations(locale)

interface Props {
  delay: string
  class?: string
}

const { delay, class: className } = Astro.props
---

<SectionContainer
  title={t("contact.title")}
  delay={delay}
  class:list={[className, "group flex flex-col"]}
>
  <MessageIcon slot="icon" />
  <h3 class="mb-1 mt-1.5 text-lg font-bold text-primary">
    {t("contact.subtitle")}
  </h3>
  <p class="mb-auto text-pretty text-secondary">{t("contact.description")}</p>
  <ButtonLink href="mailto:dmunozneyra@gmail.com" class="mt-4">
    <SendIcon />
    {t("contact.email")}
  </ButtonLink>
</SectionContainer>
