---
import ExperienceItem from "@/components/ExperienceItem.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const experiences = [
	{
		date: t("experience.0.date"),
		title: t("experience.0.title"),
		company: t("experience.0.company"),
		description: t("experience.0.description"),
		link: "https://www.tragsa.es",
	},
]
---

<SectionContainer title={t("nav.experience")}>
	<span class="pl-4 font-emoji not-italic" slot="icon">💼</span>
	<ol>
		{
			experiences.map((experience) => (
				<li>
					<ExperienceItem {...experience} />
				</li>
			))
		}
	</ol>
</SectionContainer>
