---
import ExperienceItem from "@/components/ExperienceItem.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const experiences = [
	{
		startDate: "2023-09-18",
		position: t("experience.0.position"),
		company: t("experience.0.company"),
		summary: t("experience.0.summary"),
		link: "https://www.tragsa.es",
	},
]
---

<SectionContainer title={t("experience.title")}>
	<span slot="icon">💼</span>
	<ol>
		{
			experiences.map((experience) => (
				<li>
					<ExperienceItem {...experience} />
				</li>
			))
		}
	</ol>
</SectionContainer>
