---
import LocaleToggle from "@/components/LocaleToggle.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import ThemeToggle from "@/components/ThemeToggle.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)
---

<SectionContainer as="header" class="flex items-center justify-between text-sm md:text-base">
	<div class="flex gap-x-3 md:gap-x-4">
		<picture>
			<source srcset="/me.webp" type="image/webp" />
			<img
				class="size-10 rounded-full bg-primary-700 dark:bg-primary-400 md:size-12"
				src="/me.png"
				alt="Daniel Muñoz Neyra"
			/>
		</picture>

		<div>
			<h2 class="font-semibold text-gray-800 dark:text-white">Daniel Muñoz</h2>
			<h3 class="text-gray-950 dark:text-gray-300">{t("subtitle")}</h3>
		</div>
	</div>

	<nav>
		<ul class="flex gap-x-6">
			<li><LocaleToggle /></li>
			<li><ThemeToggle /></li>
		</ul>
	</nav>
</SectionContainer>
