---
interface Props {
	title?: string
	class?: string
}

const { title, class: className } = Astro.props
---

<section class:list={[className, "container mx-auto w-full max-w-2xl"]}>
	{title && <h2 class="mb-2 text-xl font-bold text-black">{title}</h2>}
	<slot />
</section>
