---
interface Props {
	href: string
	class?: string
}

const { href, class: className } = Astro.props
---

<a href={href} rel="noopener noreferrer" target="_blank" class:list={[className]}>
	<slot />
</a>
