---
import EducationItem from "@/components/curriculum/EducationItem.astro"
import SectionContainer from "@/components/curriculum/SectionContainer.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const educations = [
	{
		startDate: "2021-09-08",
		endDate: "2024-06-21",
		institution: t("cv.education.0.institution"),
		area: t("cv.education.0.area"),
		link: "https://www.tragsa.es",
	},
]
---

<SectionContainer title={t("cv.education.title")}>
	<ol class="flex flex-col gap-y-8 print:gap-y-6">
		{
			educations.map((education) => (
				<li>
					<EducationItem {...education} />
				</li>
			))
		}
	</ol>
</SectionContainer>
