---
import ExperienceItem from "@/components/curriculum/ExperienceItem.astro"
import SectionContainer from "@/components/curriculum/SectionContainer.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const experiences = [
	{
		startDate: "2023-09-18",
		company: t("cv.experience.0.company"),
		location: t("cv.experience.0.location"),
		position: t("cv.experience.0.position"),
		responsibilities: [
			t("cv.experience.0.responsibilities.0"),
			t("cv.experience.0.responsibilities.1"),
		],
		accomplishments: [
			t("cv.experience.0.accomplishments.0"),
			t("cv.experience.0.accomplishments.1"),
		],
		link: "https://www.tragsa.es",
	},
]
---

<SectionContainer title={t("cv.experience.title")}>
	<ol class="flex flex-col gap-y-8 print:gap-y-6">
		{
			experiences.map((experience) => (
				<li>
					<ExperienceItem {...experience} />
				</li>
			))
		}
	</ol>
</SectionContainer>
