---
import LanguageItem from "@/components/curriculum/LanguageItem.astro"
import SectionContainer from "@/components/curriculum/SectionContainer.astro"
import { getLocaleByUrl, useTranslations } from "@/i18n"

const locale = getLocaleByUrl(Astro.url)
const t = useTranslations(locale)

const languages = [
	{
		lang: t("cv.languages.0.lang"),
		detail: t("cv.languages.0.detail"),
	},
	{
		lang: t("cv.languages.1.lang"),
		detail: t("cv.languages.1.detail"),
	},
]
---

<SectionContainer title={t("cv.languages.title")}>
	<ul class="-mx-3 flex flex-col gap-3 sm:flex-row">
		{
			languages.map((language) => (
				<li class="flex-1">
					<LanguageItem {...language} />
				</li>
			))
		}
	</ul>
</SectionContainer>
